<html>
<head>
  <meta charset='utf-8'>
  <title>Daily Signups Report</title>
</head>
<body>
  <table>
    <tr><th>Day</th><th>Signups</th></tr>
    <% weekdays = {"Sun" => 0, "Mon" => 1, "Tue" => 2, "Wed" => 3, "Thu" => 4, "Fri" => 5, "Sat" => 6} %>
    <% weekdays.each do |key, value| %>
      <tr>
        <td><%= "#{key}:" %></td>
        <td><%= "#{signup_days[value]}" %></td>
      </tr>
    <% end %>
  </table>
</body>
</html>